<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Code Coverage">
	<!-- <parameter name="browser" value="chrome" />  -->
	<!-- <parameter name="baseUrl" value="http://stackoverflow.com" /> -->
	<!-- <parameter name="groups" value="all" /> -->
	<!-- <parameter name="driverType" value="chrome" /> -->
    <test name="prod" preserve-order="true">
        <classes>
            <class name="com.connectedio.HomePageTest"/>
        </classes>
    </test>
</suite>
